---
import "../components/styles/global.css";
import FontHead from "../components/head.astro";
import Nav from "../components/nav.astro";
import Hero from "../layouts/hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import About from "../layouts/about.astro";
import Experience from "../layouts/experience.astro";
import Contact from "../layouts/contact.astro";
import Footer from "../components/footer.astro";
---

<!-- Remove Base Layout and put its contents here. --><!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Mason Weis</title>
        <FontHead />
    </head>
    <body>
        <header>
            <div class="navmenu">
                <Nav />
            </div>
        </header>
        <main>
            <section id="hero">
                <Hero />
            </section>
            <section id="about">
                <About />
            </section>
            <section id="experience">
                <Experience />
            </section>
            <section id="contact">
                <Contact />
            </section>
        </main>
        <footer>
            <Footer />
        </footer>
    </body><script src="../scripts/darkmodeinit.js"></script>
</html>

<style>
    body {
        background-color: var(--bg);
    }
    .navmenu {
        z-index: 1000;
    }

    #hero {
        top: 0;
    }

    .navmenu {
        position: fixed;
        width: 100%;
    }

    #experience {
        z-index: -1;
        padding-bottom: 2rem;
    }
</style>

<!-- <BaseLayout />
<About /> -->
