:root {
    --bg: #f8f7f4;
    --surface: #ffffff;
    --brand: #3662e3;
    --secondary: #213ca0;
    --text: #0f1214;
    --text-muted: #5a5a5a;
    --text-transparent: #1e1e1eee;
    --text-dark: #111827;
    --text-light: #ffffff;
    --text-gray: #4b5563;
    --brand-highlight: #3662e322;
    --brand-hl2: #3662e3ee;
    --brand-hl3: #3662e377;
    --brand-hl4: #3662e344;
    --disabled: #00000011;
    --disabled-dark: #00000033;
    --divider: #e0e0e0;
    --button-border: #ccc;
    --faint-border: #dedede;
    --hero-gradient: linear-gradient(315deg, #3662e377, #f8f7f4);
    --duotone-tint: linear-gradient(135deg, #5a75ff, #e7e3da);
    --filter: grayscale(100%) brightness(1) contrast(1);
    --mixBlend: hard-light;
    --opacity: 0.3;

    --font-small: 0.85rem;
    --font-base: 1rem;
    --font-lg: 1.25rem;
    --font-xl: 1.5rem;
    --line-height: 1.6;

    --dropShadow: 0 3px 6px rgba(0, 0, 0, 0.08);
    --bordRad: 10%;
    --pagePadding-sm: 0 2rem;
    --pagePadding: 0 5rem;
    --pagePadding-lg: 0 10rem;
    --hfPadding: 0 2rem;
}

html.dark {
    --bg: /*#0f1214 #15181b*/ #1e2124;
    --surface: #282b2f;
    --brand: #3662e3;
    --secondary: #accefb;
    --text: #eaeaea;
    --text-muted: #b0b0b0;
    --text-muted-dark: #888;
    --text-transparent: #eaeaeaee;
    --text-dark: #eaeaea;
    --text-light: #ffffff;
    --text-gray: #b0b0b0;
    --disabled: #ffffff11;
    --disabled-dark: #ffffff33;
    --divider: #222222;
    --button-border: #444444;
    --faint-border: #323232;
    --hero-gradient: linear-gradient(
        315deg,
        #3662e377,
        #1e2124 80%,
        #1e2124 100%
    );
    --duotone-tint: linear-gradient(135deg, #5a75ff, #1e2124);
    --filter: grayscale(100%) brightness(1.2) contrast(0.9);
    --mixBlend: multiply;
    --opacity: 0.8;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
}

.header {
    color: var(--text);
}

.subCopy {
    color: var(--text-muted);
    /* width: 90%; */
    margin-top: -1rem;
}

.hidden {
    display: none;
}

@media (max-width: 744px) {
    h1 {
        font-size: 2.3rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .container {
        padding: var(--pagePadding-sm);
    }
}

@media (min-width: 745px) and (max-width: 1133px) {
    .container {
        padding: var(--pagePadding);
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }
}

@media (min-width: 1134px) {
    .container {
        padding: var(--pagePadding-lg);
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.8rem;
    }
}
