---
import { Icon } from "astro-icon/components";
---

<div class="footerBody">
    <hr />
    <div class="footerContainer">
        <div class="header">
            <h2>Mason Weis</h2>
        </div>
        <div class="footerLinks">
            <div class="link">
                <a href="https://github.com/msnws" target="_blank"
                    ><Icon name="mdi:github" /></a
                >
            </div>
            <div class="link">
                <a
                    href="https://www.linkedin.com/in/mason-weis/"
                    target="_blank"><Icon name="mdi:linkedin" /></a
                >
            </div>
            <div class="link">
                <a href="mailto:mason@mason-weis.com" target="_blank"
                    ><Icon name="mdi:email" /></a
                >
            </div>
        </div>
    </div>
</div>

<style>
    .footerContainer {
        background-color: var(--bg);
    }

    .footerLinks svg {
        display: block;
    }

    .footerLinks a {
        text-decoration: none;
        color: var(--text);
    }

    .footerLinks a:hover {
        color: var(--brand);
    }

    h2 {
        color: var(--text);
    }

    hr {
        border: 0.5px solid #444;
    }

    @media (max-width: 744px) {
        .footerBody {
            margin-top: 1.5rem;
        }

        .footerContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0rem 2rem;
            height: 100%;
            margin-top: -0.5rem;
        }

        .footerLinks {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            height: 100%;
            gap: 0.5rem;
        }

        .link {
            display: flex;
            align-items: center; /* ensures the icon inside is vertically centered */
            justify-content: center;
        }

        .footerLinks a {
            font-size: 1.3rem;
        }

        h2 {
            font-size: 1.2rem;
        }
    }

    @media (min-width: 745px) and (max-width: 1133px) {
        .footerBody {
            margin-top: 1.5rem;
            padding: var(--hfPadding);
        }

        .footerContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            height: 100%;
            margin-top: -0.5rem;
        }

        .footerLinks {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            height: 100%;
            gap: 0.5rem;
        }

        .link {
            display: flex;
            align-items: center; /* ensures the icon inside is vertically centered */
            justify-content: center;
        }

        .footerLinks a {
            font-size: 1.3rem;
        }

        h2 {
            font-size: 1.2rem;
        }
    }

    @media (min-width: 1134px) {
        .footerBody {
            margin-top: 1.5rem;
            padding: 0 3rem;
        }

        .footerContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            height: 100%;
            margin-top: -0.5rem;
        }

        .footerLinks {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            height: 100%;
            gap: 0.5rem;
        }

        .link {
            display: flex;
            align-items: center; /* ensures the icon inside is vertically centered */
            justify-content: center;
        }

        .footerLinks a {
            font-size: 1.3rem;
        }

        h2 {
            font-size: 1.2rem;
        }
    }
</style>
