---
import Button from "../components/primarybutton.astro";
---

<div class="contactForm">
    <form>
        <div class="nameInput">
            <label for="name">Name:</label>
            <input
                type="text"
                id="name"
                name="name"
                required
                class="inputClass"
                placeholder="Your Name"
            />
        </div>
        <div class="emailInput">
            <label for="name">Email:</label>
            <input
                type="text"
                id="email"
                name="email"
                required
                class="inputClass"
                placeholder="example@email.com"
            />
        </div>
        <div class="messageInput">
            <label for="message">Message:</label>
            <textarea
                id="message"
                name="message"
                required
                class="inputClass"
                placeholder="Your message here..."></textarea>
        </div>
        <div class="submitButton">
            <Button type="submit">Submit</Button>
        </div>
    </form>
</div>

<style>
    form {
        background-color: var(--surface);
        display: flex;
        flex-direction: column;
        border-radius: 7px;
        box-shadow: var(--dropShadow);
        padding: 1.5rem 1.3rem;
        gap: 0.5rem;
        width: 90%;
        justify-items: center;
    }

    .inputClass {
        border-radius: 7px;
        background-color: var(--bg);
        padding: 1rem;
        /* width: 90%; */
        border: 1.5px solid var(--button-border);
        margin-bottom: 1rem;
    }

    .nameInput,
    .emailInput,
    .messageInput {
        font-weight: bold;
        display: flex;
        flex-direction: column;
    }

    textarea {
        resize: none;
        height: 10rem;
    }

    label {
        margin-bottom: 0.5rem;
        color: var(--text);
        /* text-transform: uppercase; */
        font-weight: 400;
        font-size: var(--font-small);
    }

    input:focus-within,
    textarea:focus-within {
        border: 1.5px solid var(--brand);
        outline: none;
    }

    .submitButton {
        margin-top: 1.5rem;
        width: 30%;
    }

    input::placeholder,
    textarea::placeholder {
        color: var(--text-muted-dark);
        font-family: "Poppins", sans-serif;
        font-size: var(--font-small);
    }

    input,
    textarea {
        color: var(--text);
        font-family: "Poppins", sans-serif;
        font-size: var(--font-small);
    }
</style>
