<div class="container">
    <div class="header">
        <h2>About Me</h2>
    </div>
    <div class="summary">
        <p>
            I’m a front-end developer and designer based in Chicago, IL. I pride
            myself on my ability to combine strong aesthetics with effortless
            functionality. With an eight-year background in graphic design, I
            can create interfaces that look beautiful, feel intuitive, and
            perform seamlessly across devices.
        </p>
        <p>
            I’m always working to refine my development skills. I have obtained
            several certifications for front-end development and continue to
            seek more. I'm proficient in HTML, CSS, JavaScript, Astro,
            WordPress, UI/UX Design, AI tools and more.
        </p>
        <p>
            I’m currently looking for opportunities to utilize my unique
            skillset of creativity and technical prowess. In my free time, I’m
            likely exploring the Chicago Art Institute, playing video games, or
            attempting to make the perfect pour-over coffee at home.
        </p>
    </div>
</div>

<style>
    .container {
        padding-top: 1.5rem;
    }

    .header,
    .summary {
        /* width: 90%; */
    }

    .summary {
        color: var(--text-muted);
        margin-top: -1rem;
    }

    .summary p {
        margin-bottom: 2rem;
    }

    @media (max-width: 768px) {
        .summary {
            font-size: var(--font-base);
        }
    }
</style>
