<div class="container">
    <div class="header">
        <h2>About Me</h2>
    </div>
    <div class="summary">
        <p>
            I'm a front-end developer and designer passionate about creating
            user interfaces that are both highly functional and visually
            appealing. As a lover of art and a former graphic designer,
            beautiful aesthetics are at the core of my work. I strive to make
            experiences that look great, feel intuitive, and perform seamlessly
            across all devices.
        </p>
        <p>
            I am currently honing my development skills after transitioning from
            an eight-year career in graphic design. I am currently looking for
            opportunities to apply my design skills and development knowledge to
            teams or projects that value creativity and innovation. I am
            particularly interested in roles that allow me to contribute to the
            design and development of user interfaces, where I can leverage my
            unique blend of skills to create exceptional digital experiences.
        </p>
        <p>
            I have a strong foundation in design principles, brand governance,
            and user experience. I am proficient in HTML, CSS, JavaScript, and
            Astro. I am also very well versed in generative AI tools both as a
            user and as a developer.
        </p>
        <p>
            In my free time, you can usually find me wandering Chicago's Art
            Institute, playing hot new video games, or attempting to perfect the
            perfect pour over coffee.
        </p>
    </div>
</div>

<style>
    .container {
        padding-top: 1.5rem;
    }

    .header,
    .summary {
        /* width: 90%; */
    }

    .summary {
        color: var(--text-muted);
        margin-top: -1rem;
    }

    @media (max-width: 768px) {
        .summary {
            font-size: var(--font-base);
        }
    }
</style>
