---
import "../components/styles/global.css";
import FontHead from "../components/head.astro";
import Header from "../components/nav.astro";
import Hero from "../layouts/hero.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Personal Site</title>
        <FontHead />
    </head>
    <body>
        <header>
            <div class="navmenu">
                <Header />
            </div>
        </header>
        <main>
            <section class="hero">
                <Hero />
            </section>
        </main>
    </body>
</html>

<style>
    .hero {
        position: fixed;
        top: 0;
    }
</style>
