---
import Form from "../components/form.astro";
---

<div class="container">
    <div class="header">
        <h2>Let's get in touch.</h2>
    </div>
    <div class="subCopy">
        <p>
            Whether you have a question, want to collaborate, or just want to
            say hi, feel free to reach out!
        </p>
    </div>
    <div class="contactForm">
        <Form />
    </div>
</div>

<style>
    .container {
        background: var(--hero-gradient);
        background-color: var(--bg);
        padding-bottom: 3.5rem;
        display: flex;
        flex-direction: column;
        border-top: 1px solid var(--divider);
        border-bottom: 1px solid var(--divider);
        padding-top: 1.5rem;
    }

    .subCopy {
        color: var(--text-muted);
        /* width: 90%; */
        margin-top: -1rem;
    }
</style>
