---
import Button from "../components/primarybutton.astro";
---

<div class="container">
    <div class="smallHead">
        <h3>Hello, my name is</h3>
    </div>
    <div class="leadText">
        <h1>Mason Weis</h1>
    </div>
    <div class="subCopy">
        <p>Designer and Developer in Chicago, IL.</p>
    </div>
    <div class="cta">
        <Button>Let's Talk</Button>
    </div>
</div>

<style>
    h3 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.85rem;
        letter-spacing: 0.12rem;
    }

    .container {
        height: 85vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; */
        background: var(--hero-gradient);
        background-color: var(--bg);
        padding: 1rem;
        top: 0;
        border-bottom: 1px solid var(--divider);
    }

    p {
        font-size: 1.1rem;
    }

    /* .leadPhoto {
        height: 80%;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    } */

    img {
        width: 100%;
        height: 100%;
        border-radius: 3%;
    }

    .leadText,
    .subCopy,
    .smallHead {
        width: 90%;
        color: var(--text);
    }

    .subCopy {
        margin-top: -1rem;
    }

    .leadText h1 {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 1rem;
        line-height: 1.2;
    }

    .smallHead {
        margin-bottom: -2rem;
    }

    .cta {
        margin-top: 1.2rem;
        width: 90%;
    }
</style>
