---
import Nav from "../components/nav.astro";
const { frontmatter } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{frontmatter.title}</title>
    </head>

    <body>
        <header>
            <Nav />
        </header>
        <main>
            <h1>{frontmatter.title}</h1>
            <div class="markdown-content">
                <slot />
            </div>
        </main>
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        padding: 0;
    }

    main {
        margin: 2rem;
    }
</style>
